[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/fanyg
[access "refs/for/refs/*"]
	read = group user/fanyg
	push = group user/fanyg
	label-Code-Review = -2..+2 group user/fanyg
	label-Verified = -1..+1 group user/fanyg
	rebase = group user/fanyg
	removeReviewer = group user/fanyg
	submit = group user/fanyg
[access "refs/heads/*"]
	read = group user/fanyg
	create = group user/fanyg
	push = +force group user/fanyg
	pushMerge = group user/fanyg
[access "refs/tags/*"]
	push = group user/fanyg
	push = +force group user/fanyg
