<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pactera.dao.IUserInfoDao">
  <resultMap id="BaseResultMap" type="com.pactera.domain.UserInfo">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="LOGIN_PHONE_NUMBER" jdbcType="VARCHAR" property="loginPhoneNumber" />
    <result column="CIF_ID" jdbcType="VARCHAR" property="cifId" />
    <result column="CLIENT_NAME" jdbcType="VARCHAR" property="clientName" />
    <result column="ICARD_TYPE" jdbcType="VARCHAR" property="icardType" />
    <result column="ICARD_ID" jdbcType="VARCHAR" property="icardId" />
    <result column="ENTRY_STATUS" jdbcType="INTEGER" property="entryStatus" />
    <result column="LIST_TYPE" jdbcType="INTEGER" property="listType" />
    <result column="CONTACT_FLAG" jdbcType="INTEGER" property="contactFlag" />
    <result column="CREDIT_REQ" jdbcType="VARCHAR" property="creditReq" />
    <result column="CREDIT_STATUS" jdbcType="INTEGER" property="creditStatus" />
    <result column="OVERDUE_FLAG" jdbcType="INTEGER" property="overdueFlag" />
    <result column="OPENACCOUNT_FLAG" jdbcType="INTEGER" property="openAccountFlag" />
    <result column="IDENTITY_CHANNEL" jdbcType="INTEGER" property="identityChannel" />
    <result column="BANK_CARD" jdbcType="VARCHAR" property="bankCard" />
    <result column="CELL_PHONE_NO" jdbcType="VARCHAR" property="cellPhoneNo" />
    <result column="UPLOAD_IDENTITY_FLAG" jdbcType="INTEGER" property="uploadIdentityFlag" />
    <result column="VERTIFY_IDENTITY_FLAG" jdbcType="INTEGER" property="vertifyIdentityFlag" />
    <result column="VERTIFY_POLICE_IMAGE_FLAG" jdbcType="INTEGER" property="vertifyPoliceImageFlag" />
    <result column="VERTIFY_FACE_FLAG" jdbcType="INTEGER" property="vertifyFaceFlag" />
    <result column="SIGN_CREDIT_FLAG" jdbcType="INTEGER" property="signCreditFlag" />
    <result column="FILL_IN_SUPPINFO_FLAG" jdbcType="INTEGER" property="fillInSuppinfoFlag" />
    <result column="SET_TRANPASS_FLAG" jdbcType="INTEGER" property="setTranpassFlag" />
    <result column="CREDIT_RESULT" jdbcType="BIGINT" property="creditResult" />
    <result column="VALID_AMOUNT" jdbcType="BIGINT" property="validAmount" />
    <result column="CREATED" jdbcType="TIMESTAMP" property="created" />
    <result column="MODIFIED" jdbcType="TIMESTAMP" property="modified" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, LOGIN_PHONE_NUMBER, CIF_ID, CLIENT_NAME, ICARD_TYPE, ICARD_ID,ENTRY_STATUS,LIST_TYPE,
    CONTACT_FLAG, CREDIT_REQ, CREDIT_STATUS, OVERDUE_FLAG,OPENACCOUNT_FLAG,IDENTITY_CHANNEL,
    BANK_CARD, CELL_PHONE_NO, UPLOAD_IDENTITY_FLAG,
    VERTIFY_IDENTITY_FLAG, VERTIFY_POLICE_IMAGE_FLAG, VERTIFY_FACE_FLAG, SIGN_CREDIT_FLAG, 
    FILL_IN_SUPPINFO_FLAG, SET_TRANPASS_FLAG,CREDIT_RESULT, VALID_AMOUNT,
    CREATED, MODIFIED
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user_info
    where CIF_ID = #{cifId}
  </select>
  	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="cifId != null and cifId != ''">
				and CIF_ID = #{cifId}
			</if>
		</trim>
	</sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_user_info
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pactera.domain.UserInfo">
    insert into t_user_info (LOGIN_PHONE_NUMBER, CIF_ID, CLIENT_NAME, ICARD_TYPE, ICARD_ID,ENTRY_STATUS,LIST_TYPE,
    CONTACT_FLAG, CREDIT_REQ, CREDIT_STATUS, OVERDUE_FLAG,OPENACCOUNT_FLAG,IDENTITY_CHANNEL,
    BANK_CARD, CELL_PHONE_NO, UPLOAD_IDENTITY_FLAG,
    VERTIFY_IDENTITY_FLAG, VERTIFY_POLICE_IMAGE_FLAG, VERTIFY_FACE_FLAG, SIGN_CREDIT_FLAG,
    FILL_IN_SUPPINFO_FLAG, SET_TRANPASS_FLAG,CREDIT_RESULT, VALID_AMOUNT,
    CREATED, MODIFIED)
    values ( #{loginPhoneNumber,jdbcType=VARCHAR}, #{cifId,jdbcType=VARCHAR},
      #{clientName,jdbcType=VARCHAR}, #{icardType,jdbcType=VARCHAR}, #{icardId,jdbcType=VARCHAR}, 
      #{entryStatus,jdbcType=INTEGER},#{listType,jdbcType=INTEGER},#{contactFlag,jdbcType=INTEGER},
      #{creditReq,jdbcType=VARCHAR},
      #{creditStatus,jdbcType=INTEGER}, #{overdueFlag,jdbcType=INTEGER}, #{openAccountFlag,jdbcType=INTEGER},
      #{identityChannel,jdbcType=INTEGER},
      #{bankCard,jdbcType=VARCHAR},#{cellPhoneNo,jdbcType=VARCHAR},
      #{uploadIdentityFlag,jdbcType=INTEGER}, #{vertifyIdentityFlag,jdbcType=INTEGER}, 
      #{vertifyPoliceImageFlag,jdbcType=INTEGER}, #{vertifyFaceFlag,jdbcType=INTEGER}, 
      #{signCreditFlag,jdbcType=INTEGER},
      #{fillInSuppinfoFlag,jdbcType=INTEGER},#{setTranpassFlag,jdbcType=INTEGER},
      #{creditResult,jdbcType=BIGINT}, #{validAmount,jdbcType=BIGINT},
      now(),now())
  </insert>

  <update id="updateByCustomerId" parameterType="com.pactera.domain.UserInfo" >
    UPDATE t_user_info
    <set>
      <if test="clientName != null">
        CLIENT_NAME = #{clientName,jdbcType=VARCHAR},
      </if>
      <if test="icardType != null">
        ICARD_TYPE = #{icardType,jdbcType=VARCHAR},
      </if>
      <if test="icardId != null">
        ICARD_ID = #{icardId,jdbcType=VARCHAR},
      </if>
      <if test="entryStatus != null">
        ENTRY_STATUS = #{entryStatus,jdbcType=INTEGER},
      </if>
      <if test="listType != null">
        LIST_TYPE = #{listType,jdbcType=INTEGER},
      </if>
      <if test="contactFlag != null">
        CONTACT_FLAG = #{contactFlag,jdbcType=INTEGER},
      </if>
      <if test="creditReq != null">
        CREDIT_REQ = #{creditReq,jdbcType=VARCHAR},
      </if>
      <if test="creditStatus != null">
        CREDIT_STATUS = #{creditStatus,jdbcType=INTEGER},
      </if>
      <if test="overdueFlag != null">
        OVERDUE_FLAG = #{overdueFlag,jdbcType=INTEGER},
      </if>
      <if test="openAccountFlag != null">
        OPENACCOUNT_FLAG = #{openAccountFlag,jdbcType=INTEGER},
      </if>
      <if test="identityChannel != null">
        IDENTITY_CHANNEL = #{identityChannel,jdbcType=INTEGER},
      </if>
      <if test="bankCard != null">
        BANK_CARD = #{bankCard,jdbcType=VARCHAR},
      </if>
      <if test="cellPhoneNo != null">
        CELL_PHONE_NO = #{cellPhoneNo,jdbcType=VARCHAR},
      </if>
      <if test="uploadIdentityFlag != null">
        UPLOAD_IDENTITY_FLAG = #{uploadIdentityFlag,jdbcType=INTEGER},
      </if>
      <if test="vertifyIdentityFlag != null">
        VERTIFY_IDENTITY_FLAG = #{vertifyIdentityFlag,jdbcType=INTEGER},
      </if>
      <if test="vertifyPoliceImageFlag != null">
        VERTIFY_POLICE_IMAGE_FLAG = #{vertifyPoliceImageFlag,jdbcType=INTEGER},
      </if>
      <if test="vertifyFaceFlag != null">
        VERTIFY_FACE_FLAG = #{vertifyFaceFlag,jdbcType=INTEGER},
      </if>
      <if test="signCreditFlag != null">
        SIGN_CREDIT_FLAG = #{signCreditFlag,jdbcType=INTEGER},
      </if>
      <if test="fillInSuppinfoFlag != null">
        FILL_IN_SUPPINFO_FLAG = #{fillInSuppinfoFlag,jdbcType=INTEGER},
      </if>
      <if test="setTranpassFlag != null">
        SET_TRANPASS_FLAG = #{setTranpassFlag,jdbcType=INTEGER},
      </if>
      <if test="creditResult != null">
        CREDIT_RESULT = #{creditResult,jdbcType=BIGINT},
      </if>
      <if test="validAmount != null">
        VALID_AMOUNT = #{validAmount,jdbcType=BIGINT},
      </if>
      MODIFIED=now()
    </set>
    where CIF_ID = #{cifId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pactera.domain.UserInfo">
    update t_user_info
    set LOGIN_PHONE_NUMBER = #{loginPhoneNumber,jdbcType=VARCHAR},
      CIF_ID = #{cifId,jdbcType=VARCHAR},
      CLIENT_NAME = #{clientName,jdbcType=VARCHAR},
      ICARD_TYPE = #{icardType,jdbcType=VARCHAR},
      ICARD_ID = #{icardId,jdbcType=VARCHAR},
      ENTRY_STATUS = #{entryStatus,jdbcType=INTEGER},
      LIST_TYPE = #{listType,jdbcType=INTEGER},
      CREDIT_REQ = #{creditReq,jdbcType=VARCHAR},
      CREDIT_STATUS = #{creditStatus,jdbcType=INTEGER},
      OVERDUE_FLAG = #{overdueFlag,jdbcType=INTEGER},
      OPENACCOUNT_FLAG = #{openAccountFlag,jdbcType=INTEGER},
      IDENTITY_CHANNEL = #{identityChannel,jdbcType=INTEGER},
      BANK_CARD = #{bankCard,jdbcType=VARCHAR},
      CELL_PHONE_NO = #{cellPhoneNo,jdbcType=VARCHAR},
      UPLOAD_IDENTITY_FLAG = #{uploadIdentityFlag,jdbcType=INTEGER},
      VERTIFY_IDENTITY_FLAG = #{vertifyIdentityFlag,jdbcType=INTEGER},
      VERTIFY_POLICE_IMAGE_FLAG = #{vertifyPoliceImageFlag,jdbcType=INTEGER},
      VERTIFY_FACE_FLAG = #{vertifyFaceFlag,jdbcType=INTEGER},
      SIGN_CREDIT_FLAG = #{signCreditFlag,jdbcType=INTEGER},
      FILL_IN_SUPPINFO_FLAG = #{fillInSuppinfoFlag,jdbcType=INTEGER},
      SET_TRANPASS_FLAG = #{setTranpassFlag,jdbcType=INTEGER},
      CREDIT_RESULT = #{creditResult,jdbcType=BIGINT},
      VALID_AMOUNT = #{validAmount,jdbcType=BIGINT},
      MODIFIED = #{modified,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <select id="getUserNameAndId" parameterType="string"  resultType="java.util.Map">
    select CLIENT_NAME,ICARD_TYPE,ICARD_ID,UPLOAD_IDENTITY_FLAG,CREDIT_REQ,LOGIN_PHONE_NUMBER
    from t_user_info
    where CIF_ID = #{cifId,jdbcType=VARCHAR}
  </select>

  <select id="selectByCustomerId" parameterType="string"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user_info
    where CIF_ID = #{cifId,jdbcType=VARCHAR}
  </select>

  <select id="selectInfoByCustomerId" parameterType="string"  resultType="java.util.Map">
    select
    CREDIT_REQ as creditReq, LOGIN_PHONE_NUMBER as loginPhoneNumber,
    CLIENT_NAME as clientName, ICARD_TYPE as iCardType, ICARD_ID as iCardId,
    CELL_PHONE_NO as cellPhoneNo
    from t_user_info
    where CIF_ID = #{cifId,jdbcType=VARCHAR}
  </select>

  <select id="selectPartInfoById" parameterType="string"  resultMap="BaseResultMap">
    select VERTIFY_FACE_FLAG, SIGN_CREDIT_FLAG , FILL_IN_SUPPINFO_FLAG
    from t_user_info
    where CIF_ID = #{cifId,jdbcType=VARCHAR}
  </select>
  <update id="updateReqIdByCustomerId" parameterType="string" >
    UPDATE t_user_info
    SET CREDIT_REQ = #{creditReq}, MODIFIED=now()
    where CIF_ID = #{cifId,jdbcType=VARCHAR}
  </update>

  <update id="updateCreditStatusByCustomerId" >
    UPDATE t_user_info
    SET CREDIT_STATUS = #{creditStatus,jdbcType=INTEGER}, MODIFIED=now()
    where CIF_ID = #{cifId,jdbcType=VARCHAR}
  </update>
  <update id="updateCreditResult" parameterType="com.pactera.domain.UserInfo" >
    UPDATE t_user_info
    SET CREDIT_STATUS = #{creditStatus,jdbcType=INTEGER}, CREDIT_RESULT = #{creditResult,jdbcType=BIGINT},
     VALID_AMOUNT = #{validAmount,jdbcType=BIGINT},
     MODIFIED=now()
    where CIF_ID = #{cifId,jdbcType=VARCHAR}
  </update>
 <update id="updateById" parameterType="string">
    UPDATE t_user_info SET VERTIFY_FACE_FLAG = 1,IDENTITY_CHANNEL = 1 where CIF_ID = #{cifId}
  </update>

  <update id="updateByStatus" parameterType="java.lang.Long">
    UPDATE t_user_info SET	VERTIFY_IDENTITY_FLAG = 1 where ID = #{id}
  </update>

  <update id="updateContactStatus">
    UPDATE t_user_info
    SET CONTACT_FLAG = #{contactFlag,jdbcType=INTEGER}, MODIFIED=now()
    where CIF_ID = #{cifId,jdbcType=VARCHAR}
  </update>

  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select    ID, LOGIN_PHONE_NUMBER, CIF_ID, CLIENT_NAME, ICARD_TYPE, ICARD_ID,ENTRY_STATUS,LIST_TYPE,
    CONTACT_FLAG, CREDIT_REQ, CREDIT_STATUS, OVERDUE_FLAG,OPENACCOUNT_FLAG,IDENTITY_CHANNEL,
    BANK_CARD, CELL_PHONE_NO, UPLOAD_IDENTITY_FLAG,
    VERTIFY_IDENTITY_FLAG, VERTIFY_POLICE_IMAGE_FLAG, VERTIFY_FACE_FLAG, SIGN_CREDIT_FLAG,
    FILL_IN_SUPPINFO_FLAG, SET_TRANPASS_FLAG,CREDIT_RESULT, VALID_AMOUNT,
    CREATED, MODIFIED
    from t_user_info where ID = #{id}
  </select>
 	<!-- 查询列表 -->
	<select id="queryByList" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from t_user_info
		<include refid="Example_Where_Clause" />
	</select>
  <select id="select_ByCustomerId" parameterType="string" resultMap="BaseResultMap">
  	 select  
  	 <include refid="Base_Column_List" />
  	 from t_user_info where CIF_ID = #{cifId}
  </select>
  
  <!-- 更新userInfo补充信息提交的状态 -->
  <update id="updateBySuppInfo" parameterType="string">
  	 UPDATE t_user_info SET FILL_IN_SUPPINFO_FLAG = 1 where CIF_ID = #{cifId}
  </update>

</mapper>